/* Layout */


* {
  box-sizing: border-box; }

body {
  min-width: 320px;
  max-width: 900px;
  padding: 18px;
  padding-left: 18px; padding-right: 18px;
  margin-left: auto; margin-right: auto; }
@media screen and (max-width: 899px) {
  body {
    padding: 12px; } }

.constrained-width {
  max-width: 480px;
  margin-left: auto; margin-right: auto; }

@media screen and (min-width: 900px) {
  .columns-container {
    display: table;
    width: 100%;
    margin: 0 auto; }
  .column-1-of-3, .column-2-of-3, .column-3-of-3 {
    padding: 0 18px;
    display: table-cell;
    width: 290px;
    text-align: center; }
  .column-1-of-3, .column-2-of-3 {
    padding-right: 23px;
    border-right: 1px solid #7f7e79; }
}
@media screen and (max-width: 899px) {
  .columns-container {
    display: block;
    width: 290px;
    margin: 0 auto; }
  .column-1-of-3, .column-2-of-3, .column-3-of-3 {
    padding: 18px;
    text-align: center; }
  .column-1-of-3, .column-2-of-3 {
    padding-bottom: 23px;
    border-bottom: 1px solid #7f7e79; }
}

img {
  display: block;
  width: 100%; }

hr {
  clear: both;
  margin: 0 12px;
  border: 0; border-bottom: 1px solid transparent; }



/* Typography */


body {
  font-family: equity-text, serif;
  font-size: 17px;
  line-height: 24px; }

p + p {
  margin-top: 15px; }

h1 + p, .columns-container + p {
  margin-top: 18px; }

p + .columns-container {
  margin-top: 18px; }

h1 {
  font-size: 18px; }

h2 {
  margin-top: 32px; margin-bottom: 12px;
  font-size: 17px; }

em, i { font-style: italic; }
strong, b { font-weight: bold; }
a { text-decoration: none; }

.card a {
  font-family: equity-caps, serif;
  text-transform: lowercase;
  background-color: #e5e3df;
  padding: 0 4px; }



/* Colour */


body {
  color: #fffaec;
  background-color: #262b2f; }

a {
  color: #6f6fef; }

hr {
  border-color: black; }


.card {
  color: #262b2f;
  background-color: #fffaec; }

.band {
  background-color: #fffaec; }



/* Misc */


body > header {
  margin-bottom: 72px; }
@media screen and (max-width: 899px) {
  body > header {
    margin-bottom: 48px; } }

body > header h1 {
  padding-top: 18px; padding-bottom: 18px;
  font-size: 33px; line-height: 33px;
  font-weight: bold; }

body > header h1[title]::before {
  font-family: equity-caps;
  font-size: 17px;
  font-weight: normal;
  text-transform: lowercase;
  display: block;
  content: attr(title); }

body > footer {
  margin-top: 32px;
  text-align: center; }

.card {
  padding: 36px;
  color: #262b2f;
  background-color: #fffaec; }
@media screen and (max-width: 899px) {
  .card {
    padding: 36px 12px; } }

.card + .card {
  margin-top: 32px; }

.card p, .card h1 {
  max-width: 480px;
  margin-left: auto; margin-right: auto; }

.card h1 {
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase; }

main > h2 {
  font-family: equity-caps;
  font-size: 17px;
  text-transform: lowercase; }

.motif-row {
  font-size: 24px; line-height: 24px; height: 24px;
  overflow: hidden; text-align: justify; }

