/* Layout */


* {
  box-sizing: border-box; }

body {
  min-width: 320px; }

.padded-content-width {
  max-width: 900px;
  padding-left: 18px; padding-right: 18px;
  margin-left: auto; margin-right: auto; }
@media screen and (max-width: 899px) {
  .padded-content-width {
  padding-left: 12px; padding-right: 12px; } }

.content-width {
  max-width: 900px;
  margin-left: auto; margin-right: auto; }

.constrained-width {
  max-width: 600px;
  margin-left: auto; margin-right: auto; }

@media screen and (min-width: 900px) {
  .columns-container {
    display: table;
    width: 870px;
    margin: 0 auto; }
  .column-1-of-3, .column-2-of-3, .column-3-of-3 {
    padding: 0 18px;
    display: table-cell;
    width: 290px;
    text-align: center; }
  .column-1-of-3, .column-2-of-3 {
    padding-right: 23px;
    border-right: 1px solid #7f7e79; }
}
@media screen and (max-width: 959px) {
  .columns-container {
    display: block;
    width: 290px;
    margin: 0 auto; }
  .column-1-of-3, .column-2-of-3, .column-3-of-3 {
    padding: 18px;
    text-align: center; }
  .column-1-of-3, .column-2-of-3 {
    padding-bottom: 23px;
    border-bottom: 1px solid #7f7e79; }
}

.button {
  padding: 4px;
  background-color: rgba(127, 126, 121, 0.2); }

img {
  display: block;
  width: 100%; }

hr {
  clear: both;
  margin: 0 12px;
  border: 0; border-bottom: 1px solid transparent; }



/* Typography */


body {
  font-family: 'helvetica neue', sans-serif;
  font-size: 13px;
  line-height: 18px; }

p + p {
  margin-top: 12px; }

h1 + p, .columns-container + p {
  margin-top: 18px; }

p + .columns-container {
  margin-top: 18px; }

h1 {
  font-size: 18px; }

h2 {
  margin-top: 32px; margin-bottom: 12px;
  font-size: 14px; }

em, i { font-style: italic; }
strong, b { font-weight: bold; }
a { text-decoration: none; }



/* Colour */


body {
  background-color: #262b2f; }

a {
  color: #6f6fef; }

hr {
  border-color: black; }

.dark-background {
  color: #fffaec;
  background-color: #262b2f; }

.light-background {
  color: #262b2f;
  background-color: #fffaec; }



/* Misc */


.title-bar {
  padding-top: 18px; padding-bottom: 18px;
  font-size: 13px; }

.title-bar h1 {
  padding-top: 18px; padding-bottom: 18px;
  font-size: 32px; line-height: 32px;
  font-weight: bold; }
@media screen and (max-width: 899px) {
  .title-bar h1 {
    letter-spacing: -1px; } }

.card {
  margin-top: 32px; margin-bottom: 32px;
  padding: 32px;
  color: #262b2f;
  background-color: #fffaec; }
@media screen and (max-width: 959px) {
  .card {
    padding: 32px 12px; } }

.card h1, .card p {
  max-width: 600px;
  margin-left: auto; margin-right: auto; }

.card h1 {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase; }

* {
  letter-spacing: normal; }
  
