---
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title | strip_html }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/typefaces.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>

    <header>
      <headpiece>The personal website of</headpiece>
      <title>Raphael Schindler</title>
    </header>

    <main>
      {{ content }}
    </main>

    <script type="text/javascript" src="/gsap--tween-lite.js"></script>
    <script type="text/javascript" src="/gsap--css-plugin.js"></script>
    <script type="text/javascript" src="/gsap--css-rule-plugin.js"></script>
    <script type="text/javascript" src="/main.js"></script>

  </body>

</html>
